<section id="resultSection">
  <div class="searchResults">
    {{#if venue}}
      {{#each venue as |venue|}}
      <div class="brewery-tile">
        <p>{{venue.name}}</p>
        <p>{{venue.location.address}}</p>
        <p>{{venue.location.city}}, {{venue.location.state}}</p>
        <p><a href="{{venue.url}}">{{venue.url}}</a></p>
      </div>
      {{/each}}
    {{else}}
      <p>No results</p>
    {{/if}}
  </div>
</section>
